@model EpReceivable
@{
    ViewData["Title"] = "Update";
}

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Update Receivable</h4>
                <form class="forms-sample" method="post">
                    <div class="form-group">
                        <label>Client Name</label>
                        <input asp-for="Client" class="form-control" placeholder="Name">
                        <span class="text-danger" asp-validation-for="Client"></span>
                    </div>
                    <div class="form-group">
                        <label>  Edv </label>
                        <input asp-for="Edv" class="form-control" placeholder="İncomingAmount">
                        <span class="text-danger" asp-validation-for="Edv"></span>
                    </div>
                    <div class="form-group">
                        <label> Amount </label>
                        <input asp-for="Amount" class="form-control" placeholder="İncomingAmount">
                        <span class="text-danger" asp-validation-for="Amount"></span>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <input asp-for="Description" class="form-control" placeholder="Name">
                        <span class="text-danger" asp-validation-for="Description"></span>
                    </div>


                    <div class="form-group">
                        <label>Date</label>
                        <input asp-for="Date" class="form-control" placeholder="Name">
                        <span class="text-danger" asp-validation-for="Date"></span>
                    </div>
                    <div class="form-group">
                        <label>Month</label>
                        <input asp-for="Month" class="form-control" placeholder="Name">
                        <span class="text-danger" asp-validation-for="Month"></span>
                    </div>
                    <button type="submit" class="btn btn-success mr-2">Create</button>
                    <a class="btn btn-light" asp-action="Index">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>

