@model Opportunity
@{
    ViewData["Title"] = "Update";
}

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Update Epsilon Opportunity</h4>
                <form class="forms-sample" method="post">
                    <div class="form-group">
                        <label>Category Name</label>
                        <input asp-for="ProjectName" class="form-control" placeholder="Name">
                        <span class="text-danger" asp-validation-for="ProjectName"></span>
                    </div>

                    <div class="form-group">
                        <label>Client</label>
                        <input asp-for="Client" class="form-control" placeholder="Name">
                        <span class="text-danger" asp-validation-for="Client"></span>
                    </div>
                    <div class="form-group">
                        <label>Value </label>
                        <input asp-for="Value" class="form-control" placeholder="İncomingAmount">
                        <span class="text-danger" asp-validation-for="Value"></span>
                    </div>
                    <div class="form-group">
                        <label>Probability</label>
                        <input asp-for="Probability" class="form-control" placeholder="Name">
                        <span class="text-danger" asp-validation-for="Probability"></span>
                    </div>
                    <div class="form-group">
                        <label>Contact Person</label>
                        <input asp-for="ContactPerson" class="form-control" placeholder="Name">
                        <span class="text-danger" asp-validation-for="ContactPerson"></span>
                    </div>
                    <div class="form-group">
                        <label>Status</label>
                        <input asp-for="Status" class="form-control" placeholder="Name">
                        <span class="text-danger" asp-validation-for="Status"></span>
                    </div>
                    <div class="form-group">
                        <label>Deadline</label>
                        <input asp-for="Deadline" class="form-control" placeholder="Name">
                        <span class="text-danger" asp-validation-for="Deadline"></span>
                    </div>
                    <div class="form-group">
                        <label>Contract Status</label>
                        <input asp-for="ContractStatus" class="form-control" placeholder="Name">
                        <span class="text-danger" asp-validation-for="ContractStatus"></span>
                    </div>
                    <div class="form-group">
                        <label>Contract Date</label>
                        <input asp-for="ContractDate" class="form-control" placeholder="Name">
                        <span class="text-danger" asp-validation-for="ContractDate"></span>
                    </div>
                    <div class="form-group">
                        <label>Comment</label>
                        <input asp-for="Comments" class="form-control" placeholder="Name">
                        <span class="text-danger" asp-validation-for="Comments"></span>
                    </div>
                    <button type="submit" class="btn btn-success mr-2">Update</button>
                    <a class="btn btn-light" asp-action="Index">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
