@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
     <div class="navbar-brand-wrapper d-flex justify-content-center offset-4">
                <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
            <a asp-area="Admin" asp-controller="Dashboard" asp-action="Index" class="navbar-brand brand-logo">
                <img src="~/admin/images/faces/epp.svg" alt="logo" style="height:180px;
width:240px" /></a>
                </div>
            </div>
    <h1 class="display-4" style="font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.0">Epsilon şirkətinin daxili idarəetmə sisteminə xoş gəlmisiniz </h1>
    @*<button class="navbar-brand-wrapper d-flex justify-content-center offset-4" style="background-color: #0366d6;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
 /* text-decoration: none;*/
  display: inline-block;
border-radius:8px;
  font-size: 16px;">
        <a class="navbar-brand" asp-area="Admin" asp-controller="Dashboard" asp-action="Index" style="color:white">Sistemə keçid edin</a>
                       </button>  *@
   
</div>
